* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  width: 1920px;
  height: 100vh;
  position: relative;
}

/*************************/
/*******MAIN PAGE*********/
/*************************/
#main-page {
  width: 100%;
  height: 100vh;
  position: absolute;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  background-color: #dadada;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

#main-page .content {
  width: 1140px;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

#main-page .content .title-container {
  min-width: 500px;
  margin: 300px auto 0 auto;
  text-align: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

#main-page .content .title-container h1 {
  font-family: 'Source Code Pro';
  font-weight: 700;
  font-size: 70px;
  display: inline-block;
  color: #4444ac;
}

#main-page .content .title-container input {
  border: none;
  font-size: 30px;
  width: 300px;
  height: 45px;
  color: black;
  margin-left: 10px;
  padding: 5px 12px;
  text-align: center;
  outline: none;
}

#main-page .content .button-container {
  width: 700px;
  margin: 50px auto 0 auto;
  text-align: center;
}

#main-page .content .button-container button {
  width: 250px;
  background-color: #4444ac;
  color: white;
  font-size: 25px;
  padding: 10px;
  outline: none;
  border: none;
}

#main-page .content .button-container button:hover {
  cursor: pointer;
  background-color: #3a3a92;
}

#main-page .content .button-container button:active {
  -webkit-transform: translateY(2px);
          transform: translateY(2px);
}

#main-page .content .pun-container {
  margin-top: 200px;
  text-align: center;
}

#main-page .content .pun-container #battleship-pun {
  color: #4444ac;
  font-family: arial;
}

/*************************/
/*******GAME PAGE*********/
/*************************/
#game-page {
  position: absolute;
  z-index: 2;
  background-color: #dadada;
  width: 1920px;
  height: 1080px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  display: none;
}

#game-page .game-container {
  width: 1620px;
  height: 100vh;
  border: 1px solid blue;
}

#game-page .game-container .container {
  width: 100%;
  height: 50%;
  border: 1px solid purple;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

#game-page .game-container .container .battleships {
  width: 400px;
  height: 100%;
  border: 1px solid red;
}

#game-page .game-container .container .battleships .name-container {
  width: 100%;
  text-align: center;
  padding: 10px;
}

#game-page .game-container .container .battleships .name-container .name {
  font-family: arial;
}

#game-page .game-container .container .battleships .all-pieces {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

#game-page .game-container .container .battleships .all-pieces .ship {
  margin: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  border: 1px solid red;
}

#game-page .game-container .container .battleships .all-pieces .ship .piece-cell {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 30px;
  height: 30px;
  border: 1px solid red;
}

#game-page .game-container .container .board-container {
  width: 800px;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

#game-page .game-container .container .board-container .board {
  position: relative;
  border: 1px solid red;
}

#game-page .game-container .container .board-container .board .identifier-row {
  position: absolute;
  left: -40px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

#game-page .game-container .container .board-container .board .identifier-column {
  position: absolute;
  top: -40px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

#game-page .game-container .container .board-container .board .identifier {
  width: 40px;
  line-height: 40px;
  vertical-align: middle;
  text-align: center;
  font-weight: 600;
}

#game-page .game-container .container .board-container .board .board-row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

#game-page .game-container .container .board-container .board .board-row .board-cell {
  width: 40px;
  height: 40px;
  border: 1px solid red;
}

#game-page .utility-container {
  width: 600px;
  height: 100vh;
  border: 1px solid green;
}

#game-page .leaderboard-container {
  width: 400px;
  height: 100vh;
  border: 1px solid red;
}
/*# sourceMappingURL=style.css.map */